[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
pandas = "*"
pyyaml = "*"
scikit-learn = "*"
numpy = "*"
gensim = "*"
nltk = "*"

[requires]
python_version = "3.6"
